
body { 
	background-color : #E0DDD8;
	padding:1%;
}



.bottom {margin:0 0 0 0;}
.top {margin:0;}
.content { margin: 1em 15%;}
.left {
  position: absolute;
  top: 1em;
  left: 1%;
  width: 22%;
}
.right {
  position: absolute;
  top: 10em;
  right: 1%;
  width: 25%;
}


.album-simple, .album-vignette{
text-align:center;
}

.album-photo{text-align:center;
border : 1px dashed;
}

.album-photo-legende{text-align:center;

}



/*


.content {
   padding: 2%;
   margin-left: 11em;
   margin-top:1em;
   margin-bottom:1em;
   border: 3px solid #336699;
   background-color: #F1F1F1;
   width:70%;
}
*/
.menu {
   width: 10em;
   float: left;
   margin: 1em 0 2em 0;
}

.menu ul {
   padding: 0;
   margin: 0;
}

.menu li {
   list-style-type: none;
   text-align:center;
   /*border:3px solid #E0DDD8;*/
   
}


.menu li a { 
   display:block;
   text-decoration:none;
}

.menu li a:visited { 
   color: #0000C0;
}



.menu li#active, li:hover {
   background-color: #F1F1F1 ;
}

.menu li:hover{
   border:1px dotted #336699;
}

.menu li#active{ 
   width : 100%;
   border:1px solid #336699;
   border-right-width: 0;
   padding-right: 1em;
/*    font-weight:bold; */
}


a.lien{}
a.lien-desactive{color:red;}
	

.top {
   color: #0000C0;
   border:3px solid #336699;
   text-align:center;
   background-color: #F1F1F1;
   height:18%;
}
.top img {position:absolute;}

/*
.bottom {
   clear:both;
   padding:.1em;
   color: #0000C0;
   border:3px solid #336699;
   background-color: #F1F1F1;
}
*/

.article {
	margin:3px;
	padding:5px;
	border:1px dashed blue;
	
	width:80%;	
}
/*
.logo {float:left;}
/*
.right {
	float:right;
	width:20em;
	padding:10px;
	border:3px solid #336699;
	background-color: #F1F1F1;
	margin: 1em 0 2em 0;
}
*/
#brclear {clear:both;}
