html {
	background:#E9ECF4;
	margin:25px 20px;
	padding:0;
}

#main{
	margin:0;
	background:white;
	border:1px solid #577796;
	border-top:0;
}

.separator{
clear:both;
height:1px;
margin:0;
padding:0;
visibility:hidden;
}


/* Titre & logo */
h1{
	margin:0;
	font-size:1em;
	color:#577796;
	padding-left:85px;

}

h1 span{
font-variant:small-caps;

}

#logo{
float:left;
margin-left:20px;
margin-top:-0.2em;
border:none;
}




/*top*/

#topbar{
/* min-height:29px; */
/* background: url("IMG/coin-hd.png") no-repeat top right; */
padding-left:85px;
background:#EFB955;
/* margin:0; */
/* margin-top:1px;  */
border-top:1px solid #577796;
border-bottom:1px solid #577796;
}

#topbar h2 {
margin:0;
font-size:1em;
min-height:23px;
background: url("IMG/coin-hd.png") no-repeat top right;
margin:-1px;
 /* margin-top:-2px; */ 
margin-right:-1px;
padding-top:3px;

}



/*menu gauche */

#menu-left{
float:left;
width:25%;
margin-left:1%:
}

.menu-left-block{
border:1px solid #577796;
border-left:0;
background:#CBD5E4;
margin-bottom:1em !important;
}

.menu-left-block h3{
font-size:0.9em;
margin-top:0;
border-bottom:1px solid #577796;
background:#5F82A4;
color:white;
padding:1px 5px;
margin-bottom:0.5em;
text-align:left;
}

/*rubriques*/
#menu-rub{
font-size:0.9em;
}

#menu-rub ul{
padding:0;
margin:0;

}

#menu-rub ul ul{
padding-left:1.2em;
margin-top:0;
}

#menu-rub li{
list-style:none;
margin-bottom:0.5em;
margin-right:5px;
}

#menu-rub li a{
background:#76A0CB;
color:white;
text-decoration:none;

}

#menu-rub li li a{
background:none;
color:black;
}

#menu-rub li li{
border-left:2px solid #76A0CB;
margin-bottom:0;
}

#menu-rub li li a:hover{
background:#C0CAD8;
}

#menu-rub li a{
display:block;
padding:1px 6px;
}




/*recherche*/
#menu-search{

font-size:0.9em;
text-align:center;
margin-bottom:0.5em;
}

#menu-search p{
margin:0;
padding:0;
}

#menu-search label{
display:block;
}


/*liens*/

#menu-links ul{
font-size:0.9em;
margin:0;
padding:0;
}

#menu-links li{
margin:0;
padding:0;
list-style:none;
}

#menu-links a {
color:black;
text-decoration:none;
display:block;
padding:1px 2px 1px 1.5em;

}

#menu-links a:hover{
color:white;
text-decoration:underline;
background:#76A0CB;
}


/* calendrier */
#menu-calendar table{
font-size:0.9em;
width:100%;
}

#menu-calendar h3{
margin-bottom:0 !important;
}

#menu-calendar .agendaNav{
background:#76A0CB;
text-align:center;

}

#menu-calendar .agendaNav a{
color:white;
text-decoration:none;
}

#menu-calendar .agendaNav a:hover{
text-decoration:underline;
}


#menu-calendar .agendaHead {

}

#menu-calendar .agenda{text-align:center;
background:#CBD5E4;
}

#menu-calendar .agendaMonth, #menu-calendar .agendaMonthWeek{
background:#C0CAD8;
}



#menu-calendar .agendaDay{
background:white;
}





#menu-calendar td a {
display:block;
background:#76A0CB;
color:white;
font-weight:bold;
text-align:center;
}


/* evenements*/

#menu-events{
font-size:0.9em;
}

#menu-events h3{
margin-bottom:0;
}

#menu-events li:first-child{
border-top:0;
}

#menu-events ul{
margin:0;
padding:0;
}

#menu-events li{
margin:0;
padding:1px 5px;
list-style:none;
border-top:1px solid #76A0CB;

}

#menu-events li:hover{
background:#C0CAD8;
}

#menu-events li a{
font-size:0.95em;
/* float:right; */
}



/*contenu*/

#content{
margin-left: 27%;
margin-right:2%;
}


.billet{
border-bottom:1px solid #76A0CB;
margin-bottom:1em;
padding-bottom:1em;

}

.billet p{
font-size:0.9em;
margin:0;
margin-left:1em;
color:#333;
margin-bottom:0.7em
}

.billet h3{
font-size:1.1em;
margin:0;
margin-bottom: 10px;

}

.billet-infos{
	float:right;
	background: #ddd;
-moz-border-radius:1em;
padding:6px;
font-size:0.9em;
margin:0 0 1em 2em;
min-width:20%;
}

.billet-suite{
	
	font-size: 0.9em;
	color:gray;
	padding-right: 20px;
	min-height:18px;
}

.billet-separator{
	clear: right;
	visibility:hidden;
	margin:0;
	padding:0;
	height:1px;
}

.billet h3 a{
color:black;
text-decoration:none;

}

.billet h3 a:hover{
text-decoration:underline;
}

.billet .billet-auteur{
background:url("IMG/auteur.png") no-repeat center left;
min-height:24px;
padding-left :28px;

display:block;
}

.billet .billet-auteur, .billet .billet-date a{
	min-height:24px;
}

.billet .billet-date{
background:url("IMG/calendar.png") no-repeat center left;
min-height:24px;
padding-left :28px;
/* margin-left:10px */
display:block;
}

.forum {
border:1px solid #76A0CB;
}

.forum-comment{
border:1px dashed #76C0CB;
}

/* bottom */
#bottombar{
min-height:23px;
background: url("IMG/coin-bg.png") no-repeat bottom left;
margin:-1px;
clear:both;
}

#search{

min-height:23px;
background: url("IMG/coin-bd.png") no-repeat bottom right;
}


#album-photo{
border:1px solid #76A0CB;
text-align:center;
}

#album-photo a {text-decoration:none;}

#album-photo table{
margin-left: auto;
margin-right: auto;
}


#credits{
clear:both;
text-align:center;
color:#577796;
font-size:0.9em;
margin-top:5px;
}


#credits span{
font-weight:bold;
font-variant:small-caps;
}


.description li{
padding:10 10 10 10px;
}

.description p{
font-style: italic;
}

#encart_{
display:none;
background-color:#FFFFCC;
position:absolute;
}


.pagination{
	
	text-align:center;
	font-size:0.9em;
	font-weight:bold;
}

.pagination a{
	
	color:gray;
	font-weight:normal;
}

.menu-left-block h3 img{
	margin:-7px 4px -10px 4px;
}

.menu-left-block h3{
	
	vertical-align: middle;
}

.menu-left-block h3 a{
	text-decoration: none;
	color:white;
}

.article-block{
	background:#ddd;
	-moz-border-radius:0.7em;
	padding:0.4em;
	margin-top: 20px;
}


.article-block h3{
	font-size:1.2em;
	margin:0;
	}
	
.article-block h3 img{
	margin:-17px 5px -7px 0;
}

.article-docjoints ul, .article-memerub ul{
padding:0;	
}

.article-docjoints li, .article-memerub li{
	list-style:none;
	
}

.article-docjoints li a{
	min-height:18px;
	padding:4px 0 4px 40px;
	background: url(IMG/download.png) no-repeat 20px center;
	display:block;
	text-decoration:none;
	color:black;
}

.article-memerub li a{
	min-height:18px;
	padding:4px 0 4px 40px;
	background: url(IMG/article.png) no-repeat 20px center;
	display:block;
	text-decoration:none;
	color:black;
}

.article-memerub li a .date{
	font-size:0.9em;
	color:gray;
}

.article-docjoints li a:hover, .article-memerub li a:hover{
	background-color:white; 
}


.article-reagir{
	padding:4px;
	-moz-border-radius:0.5em;
	color:white;
	font-weight: bold;
	background:#D57F05;
	font-size:0.9em;
	
	text-decoration:none;
	margin-left:60%;
	margin-bottom:20px;
}

.article-reagir img{
	margin:-5px 5px -12px 3px;
	border:none;
}


.article-forum{
	margin-top:20px;
}

.article-forum  h3{
	margin-bottom:1.5em;
}

.article-forum h4{
	margin-bottom: 0;
	padding:5px 5px;
	color:white;
}

.article-forum .commentaire-infos{
	font-size:0.9em;
	text-align:right;
	padding:0 3px 1px  0;
	color:white;
}

.article-forum .commentaire-texte{
	background:#ededed;
	border:1px solid #ccc;
	padding:0.4em;
	margin:0 1px;
}

.article-forum .repondre a{
	color:white;
	text-decoration:none;
}
.article-forum .repondre{
	
	text-align:right;
	padding:1px 3px;
	font-size: 0.9em;
}

.article-forum .commentaire{
	background:#7A9CAF;
	-moz-border-radius:0.5em 0.5em 0.2em 0.2em;
	margin-bottom:1em;
}

.article-forum ul{
	margin:0;
	padding:0;
	padding-left:1.3em;
}

.article-forum li{
	list-style:none;
	
}


#menu-albums li, #menu-sites li{
	list-style: none;
}

#menu-albums ul, #menu-sites ul{
padding:0;
}

#menu-albums ul a, #menu-sites ul a{
display:block;
padding-left:10px;
padding-bottom:2px;
}

#menu-forum ul{
	padding: 0;
}

#menu-forum .lastpost{
	list-style: none;
	margin:3px;
	padding:3px;
	background: #BEC7D5;
	-moz-border-radius:0.3em;
}


#menu-forum .lastpost h4{
	margin: 0;
}

#menu-forum .lastpost-infos{
	font-size:0.9em;
	color:gray;
} 

#menu-forum .lastpost-infos a{
	color:gray;
}

#menu-forum .lastpost p{
	margin:0;
}

#menu-forum .lastpost .lire{
	font-size:0.9em;
	font-weight:bold;
	color:gray;
	display:block;
	text-decoration: none;
	padding-right:20px;
	background: url(IMG/lire.png) no-repeat center right;
	min-height:18px;
	
}



.article  h3{
	font-size:1.3em;
background:gray url(IMG/billet.png) no-repeat 97% 50%;
border:1px solid gray;
-moz-border-radius:0.3em 0.5em 0.5em 0;
color:white;
padding:5px;
margin:0;

}

.article .article-infos{
	display:inline;
	background: gray;
	
	padding:2px 6px;
	-moz-border-radius:0 0 0.3em 0.3em;
	font-size:0.9em;
	color:#ddd;
	
}

.article-texte{
	margin:1em 0 1.5em 0;
}

.article .article-infos a{
	color:#ddd;
}


h2.titre{
		font-size:1.4em;

background:#5F82A4 no-repeat 97% 50%;
border:1px solid #5F82A4;
-moz-border-radius:0.5em ;
color:white;
padding:5px;
margin:0;
margin-bottom:1em;
}


h2#titre_events, h2#titre_agenda{
	background-image: url(IMG/events.png)
}

h2#titre_albums{
	background-image: url(IMG/albums.png)
}

h2#titre_recherche{
	background-image: url(IMG/recherche.png)
}

h2#titre_rubrique{
	background-image: url(IMG/rubriques.png)
}

h2#titre_liens{
	background-image: url(IMG/liens.png)
}

h2#titre_auteur{
	background-image: url(IMG/titre_auteur.png)
}

h2#titre_forum{
	background-image: url(IMG/titre_forum.png)
}

.rub_desc, .auteur_infos{
	background:#ccc url(IMG/info.png) no-repeat 5px 5px;
	-moz-border-radius:0.5em;
	padding:5px 5px 5px 45px;
	margin:1em;
	min-height:33px;
}

.auteur_site{
	margin: 1em;
	min-height:18px;
	padding-left:20px;
	background: url(IMG/internet.png) no-repeat center left;
}
ul.resultats_recherche{
	margin:0;
}

ul.resultats_recherche li, #result_auteur li{
	padding:5px 3px 5px 28px;
	border-bottom:1px solid #ccc;
	list-style:none;
	background:no-repeat center left;
}


#result_articles li, #result_auteur li{
	background-image: url(IMG/result_articles.png)
}

#result_forum li{
	background-image: url(IMG/result_forum.png)
}

#result_liens li{
	background-image: url(IMG/result_liens.png)
}

#result_breves li{
	background-image: url(IMG/result_breves.png)
}


ul.resultats_recherche h3,  #result_auteur h3{
	margin:0;
	margin-bottom:3px;
	font-size:1.1em;
}

ul.resultats_recherche h3 a,  #result_auteur h3 a{
	color:black;
}


.resultats_recherche .resultat_infos,  #result_auteur .resultats_infos{
	color:gray;
	font-size:0.9em;
}

#agenda{
	border:1px solid #577796;
	
}

#agenda .agendaNav,  #agenda_an_nav {
	vertical-align: middle;
	padding:3px;
}

#agenda th *, #agenda_an_nav *{
	
vertical-align: middle;
}

#agenda td{
	z-index:2;
	padding:2px;
	text-align: center;
}

#agenda .agendaMonth, #agenda .agendaMonthWeek, #agenda .agendaDay{
background:#CBD5E4;	
}

#agenda .agendaDay{
	border:1px solid #577796;
}


td:hover .agenda_events{
	display:block;
	position:absolute !important;
	
}


.agenda_events{
display:none;
	background: white;
	-moz-border-radius:0.3em;
	border:1px solid #577796;
	padding:2px;
	margin:0;
	text-align:left;
	color:black;
	font-weight:normal;
	margin-top:0.5em;
	margin-left:0.2em;
}

.agenda_events li{
	list-style:none;
	padding:0;
	margin:0;
}

.agenda_events li a{
	display:block;
	padding:2px 2px 2px 5px;	
	color:black;
	text-decoration:none;
	border-top:1px solid #ccc;
}

.agenda_events li a:hover{
	background: #ddd;
}

.agenda_events li:first-child a{
	border-top:none;
}

#agenda .events{
	background: #577796;
	color:white;	
	}
	
#agenda th{
	background: #577796;
	color:white;
}

#agenda th a img,  #agenda_an_nav a img{
	border: none;
}

#agenda_an_nav p{
	margin:0;
}



#agenda_an_results h3{
	border-bottom: 1px solid gray;
}

#agenda_an_results li{
	list-style:none;
	
}

#agenda_an_results li a{
	padding:2px;
	padding-left:25px;
	background: url(IMG/agendares.png) no-repeat 3px 50%;
	display:block;
	text-decoration:none;
	color:black;
}

#agenda_an_results li a:hover{
	background-color: #ddd;
}

#agenda_an_results li a .date{
	color:gray;
	
}

#liste_sites{
	margin:0;
	padding:0;
}

li.site{
	list-style: none;
	margin:0.5em 0;
	padding:3px 3px 3px 20px;
	-moz-border-radius:0.4em;
	background: #ccc;
}


li.site h3{
	margin:0.2em 0 0.6em 0;
	min-height:18px;
	background: url(IMG/internet.png) no-repeat center left;
	padding-left:22px;
}

li.site h3 a{
	color:black;
}

#result_auteur{
	padding:0;
	margin-top:2em;
}


fieldset{
	background:#ccc;
	-moz-border-radius:0.6em;
	border:none;
}

fieldset legend{
	background: #ccc;
	padding: 3px 6px;
	-moz-border-radius:0.5em;
}


#album-photo{
	border:none;
}


.fleches{
	border: none;
}

.photo img{
	border: none;
}


.reponse-article, .reponse-message{
	background:#eee;
	padding:0.5em;
}

.reponse-article .infos, .reponse-message .infos{
	font-size:0.9em;
}

.reponse-article h4, .reponse-article p, .reponse-message h4{
	margin:3px 0;
}

/** Burn IE, buuuuuurrrnnnnn **/
@import "./taust_ie_hacks.css";